In [ ]:
# extracting Raw data 
raw_data = [
    {"id": 1, "name": "Ram", "age": 25, "salary": 30000},
    {"id": 2, "name": "Sita", "age": 30, "salary": 45000},
    {"id": 3, "name": "Hari", "age": 22, "salary": 28000},
    {"id": 4, "name": "Gita", "age": 28, "salary": None},   # Missing salary
]

print("Extracted Raw Data:")
for row in raw_data:
    print(row)

Extracted Raw Data:
{'id': 1, 'name': 'Ram', 'age': 25, 'salary': 30000}
{'id': 2, 'name': 'Sita', 'age': 30, 'salary': 45000}
{'id': 3, 'name': 'Hari', 'age': 22, 'salary': 28000}
{'id': 4, 'name': 'Gita', 'age': 28, 'salary': None}

In [ ]:

# loading into a warehouse table
data_warehouse = []

for row in raw_data:
    data_warehouse.append(row)

print("\nLoaded Data in Warehouse:")
for row in data_warehouse:
    print(row)

Loaded Data in Warehouse:
{'id': 1, 'name': 'Ram', 'age': 25, 'salary': 30000}
{'id': 2, 'name': 'Sita', 'age': 30, 'salary': 45000}
{'id': 3, 'name': 'Hari', 'age': 22, 'salary': 28000}
{'id': 4, 'name': 'Gita', 'age': 28, 'salary': None}

In [ ]:
# TRANSFORM
# Find average salary (ignoring None)
valid_salaries = [row["salary"] for row in data_warehouse if row["salary"] is not None]
avg_salary = sum(valid_salaries) / len(valid_salaries)

# Clean data (replace missing salary)
for row in data_warehouse:
    if row["salary"] is None:
        row["salary"] = avg_salary

# Add new column
for row in data_warehouse:
    row["salary_category"] = "High" if row["salary"] > 30000 else "Low"

# Filter high-salary employees
high_salary_employees = [row for row in data_warehouse if row["salary"] > 30000]

print("\nTransformed Data:")
for row in data_warehouse:
    print(row)

print("\nEmployees with Salary > 30000:")
for row in high_salary_employees:
    print(row)

Transformed Data:
{'id': 1, 'name': 'Ram', 'age': 25, 'salary': 30000, 'salary_category': 'Low'}
{'id': 2, 'name': 'Sita', 'age': 30, 'salary': 45000, 'salary_category': 'High'}
{'id': 3, 'name': 'Hari', 'age': 22, 'salary': 28000, 'salary_category': 'Low'}
{'id': 4, 'name': 'Gita', 'age': 28, 'salary': 34333.333333333336, 'salary_category': 'High'}

Employees with Salary > 30000:
{'id': 2, 'name': 'Sita', 'age': 30, 'salary': 45000, 'salary_category': 'High'}
{'id': 4, 'name': 'Gita', 'age': 28, 'salary': 34333.333333333336, 'salary_category': 'High'}